Package: kutuphane-defteri
Version: @VERSION@
Section: education
Priority: optional
Architecture: amd64
Depends: @DEPENDS@
Installed-Size: @SIZE@
Maintainer: Kütüphane Defteri <aalidemirci@gmail.com>
Homepage: https://okulapp.org/kutuphane-defteri
Description: Okul kütüphanesi için katalog, ödünç ve sayım programı
 Okul kütüphanesinin işlerini yürüten yerel bir masaüstü programıdır:
 katalog ve etiket, üyelik, ödünç ve iade, sınıf kitaplığına teslim,
 sayım, komisyon ve ayıklama ile Taşınır Mal Yönetmeliği hazırlık
 çıktıları. Evrakı PDF olarak üretir.
 .
 Program internet bağlantısı gerektirmez ve veriyi buluta göndermez; tüm
 veriler kurulduğu bilgisayarda saklanır. İsteğe bağlı ağ kataloğu açılırsa
 aynı okul ağındaki bilgisayarlar kataloğu salt okur olarak tarayabilir;
 bu katalog kişisel veri içermez.
