Package: kutuphane-defteri
Version: @VERSION@
Section: education
Priority: optional
Architecture: amd64
Depends: @DEPENDS@
Installed-Size: @SIZE@
Maintainer: Kütüphane Defteri <aalidemirci@gmail.com>
Homepage: https://okulapp.org/kutuphane-defteri
Description: Kelebek sınav planlama ve evrak üretimi
 Liselerde ortak sınavları planlar: sınav takvimini mevzuat pencerelerine
 göre kurar, öğrencileri kelebek düzeniyle salonlara dağıtır (aynı şubeden
 iki öğrenci aynı masada oturmaz) ve salon krokisi, yoklama, kapı listesi,
 tutanaklar ile kişiselleştirilmiş soru kitapçıklarını PDF olarak üretir.
 .
 Program tek kullanıcılıdır, internet veya ağ bağlantısı gerektirmez; tüm
 veriler kullanıcının kendi bilgisayarında saklanır.
